body {
	color: #172B4D;
	font-family: Helvetica;
	font-size: 16px;
	line-height: 19px;
}

h2 {
	color: #4A67B6;
	font-family: Helvetica;
	font-size: 40px;
	font-weight: bold;
	line-height: 48px;
	text-align: center;
}

h3 {
	color: #4A67B5;
	font-family: Helvetica;
	font-size: 24px;
	font-weight: bold;
	line-height: 29px;
}

h4 {
	color: #4A67B6;
	font-family: Helvetica;
	font-size: 20px;
	font-weight: bold;
	line-height: 24px;
}

h5 {
    color: #172B4D;	
    font-family: Helvetica;	
    font-size: 18px;
    font-weight: bold;
    line-height: 22px;
}

.main-section {
    max-height: 480px;
    overflow: hidden;
}

.main-section .call-to-action {
    display: block;
    height: 215px;
    background-color: #F2F3FF;
    padding: 20px;
    text-align: center;
}

.call-to-action-button {
    display: inline-block;
    padding: 10px;
    color: #FAFAFA;
	border-radius: 10px;
	background-color: #933031;
}

.call-to-action-button:hover {
    color: #FAFAFA;
}

.params-container {
    padding: 13px;
    margin-bottom: 10px;
	display: block;
    width: 100%;
	border: 1px solid #CCCCCC;
	border-radius: 10px;
	background-color: #FFFFFF;
	color: #172B4D;
	font-family: Helvetica;
	font-size: 16px;
	font-weight: bold;
}

.text-12 {
	color: #172B4D;
	font-family: Helvetica;
	font-size: 12px;
	line-height: 14px;
}

.main-amenities {
    height: 60px;
    width: 60px;
    margin-right: 10px; 
}

.amenity {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.amenity-icon {
    height: 50px;
    width: 50px;
    flex: 0;
    margin-right: 10px;
}

.amenity-name {
    flex: 1;
}

.rating-icon {
    margin-right: 5px;
}
